/* Azul escuro #03304F
Amarelo #FFDB45
Verde #2BD88D */

body {
  background-color: #fff;
  color: #03304F;
  overflow-x: hidden;
}

.modal-content p {
  color: #fff;
}

p {
  color: #03304F;
}

mark {
  color: #fff;
  display: inline-block;
  background-color: #03304F;
  line-height: 0.6em;
  /* padding-bottom: 0.5em; */
}

.destaque {
  font-family: 'Crete Round', 'Verdana', serif;
  line-height: 1.3;
}

/* Highlight com mais de uma linha */
.grifo {
  color: white;
  line-height: 140%;
  margin: 0px;
}
.grifo span {
  /* display: inline; */
  /* box-sizing: border-box; */
  padding: 0rem .75rem;
  color: #fff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 1%, #03304F 1%);
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-position: 0 70%;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

h1 {
  font-size: 6vmin;
}
h1.grifo {
  line-height: 1.1;
  margin-left: 4vmin;
}
h1.grifo span:first-of-type {
  padding: 0rem .75rem;
  color: #03304F;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 1%, #fff 1%);
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-position: 0 70%;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
h1.grifo span:not(:first-of-type) {
  background-size: 100% 75%;
  background-position: 0 50%;
  font-size: 11vmin;
}
h1.grifo span:nth-of-type(2) {
  line-height: 1.3;
}
h1.grifo span:nth-of-type(3) {
  line-height: 1;
}
h1, h2, h3, h4, h5 {
  font-family: 'Crete Round', 'Verdana', serif;
  color: #03304F;
}
h2.grifo {
  font-size: 4rem;
  margin-bottom: 3rem;
}
h3 {
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 2rem;
}
h4 {
  font-size: 1.875rem;
}
h5 {
  font-size: 1.5rem;
}
.bg-azul {
  background-color: #03304F;
}
.bg-amarelo {
  background-color: #FFDB45;
}
.bg-verde {
  background-color: #2BD88D;
}
.bg-branco {
  background-color: #fff;
}
.cor-azul {
  color: #03304F;
}
.cor-amarelo {
  color: #FFDB45;
}
.cor-verde {
  color: #2BD88D;
}

.container-pai {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
}
@media (max-width: 575.98px) {
  .container-pai {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.inclinado {
  position: relative;
  z-index: 2;
}
.inclinado:before {
  content: "";
  background: #fff;
  height: 50%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -2;
}
/* .inclinado:after {
  content: "";
  background: #fff;
  height: 50%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -2;
} */
.bg-amarelo.inclinado:before {
  background: #FFDB45;
}
.bg-verde.inclinado:before {
  background: #2BD88D;
}
.inclinado-1:before {
  transform: skewY(-1.3deg);
  top: -2rem;
}
/* .inclinado-1:after {
  transform: skewY(1.5deg);
  bottom: -2rem;
} */
.inclinado-2:before {
  transform: skewY(1.3deg);
  top: -2rem;
}
/* .inclinado-2:after {
  transform: skewY(-1.3deg);
  bottom: -2rem;
} */

.sub {
  text-decoration: underline;
}
.fonte-18 {
  font-size: 1.1rem;
}
.fonte-20 {
  font-size: 1.25rem;
}
.fonte-24 {
  font-size: 1.5rem;
}
.fonte-30 {
  /* font-size: 1.875rem; */
  font-size: 1.8rem;
}

@media (max-width: 767.98px) {
  h2.grifo {
    font-size: 3.5rem
  }
  h3 {
    font-size: 2.7rem
  }
  /* .fonte-18 {
    font-size: 1rem;
  } */
  .fonte-20 {
    font-size: 1.2rem;
  }
  .fonte-24 {
    font-size: 1.4rem;
  }
  .fonte-30 {
    font-size: 1.7rem;
  }

}

@media (max-width: 575.98px) {
  .fonte-18 {
    font-size: 1rem;
  }
  .fonte-20 {
    font-size: 1.1rem;
  }
  .fonte-24 {
    font-size: 1.25rem;
  }
  .fonte-30 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 11vw;
  }
  h2.grifo {
    font-size: 13vw;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////// */
/* INTRODUÇÃO */
/* ///////////////////////////////////////////////////////////////////////////////// */
.intro {
  min-height: calc(100vh + 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.composicao {
  position: fixed;
  height: 65vmin;
  /* width: 90vmin; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.composicao>div:first-child {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.composicao>div>div {
  position: relative;
  /* z-index: 1; */
  display: inline-block;
}
.intro .titulo {
  border-left: 1.5vmin solid #03304F;
}
.intro .circulo-container {
  position: absolute;
}
.intro .circulo {
  height: 65vmin;
  width: 65vmin;
}
.intro .circulo.padrao-branco {
  left: -20vmin;
  bottom: 0;
}
.intro .circulo.bg-amarelo {
  right: -20vmin;
  bottom: 0;
}
.intro .interrogacao {
  position: relative;
  font-family: 'Crete Round', 'Verdana', serif;
  font-size: 35vmin;
  color: #fff;
  text-shadow: 1.5vmin 1.5vmin #03304F;
  line-height: 1;
  padding-left: 4vmin;
  padding-right: 1.5vmin;
}

@media (orientation: portrait) {
  .composicao {
    height: auto;
    width: 80vw;
  }
  .intro .circulo {
    height: 65vh;
    width: 65vh;
  }
  .intro .circulo.padrao-branco {
    left: -25vh;
  }
  .intro .circulo.bg-amarelo {
    right: -25vh;
  }

  h1 {
    font-size: 8vmin;
  }
  h1.grifo span:not(:first-of-type) {
    /* background-size: 100% 75%;
    background-position: 0 50%; */
    font-size: 14vmin;
  }
}

/* /////////////////////////////////////////////////////////////////// */
/* O PROJETO INTEGRADOR
/* /////////////////////////////////////////////////////////////////// */
.transicao {
  width: 100%;
  height: 25px;
}
.transicao::before {
  height: 150%;
}

.o-projeto .destaque {
  margin-top: 2rem;
}
.o-projeto .info {
  margin-top: 2rem;
  display: flex;
}
.o-projeto .descricao {
  flex-basis: 35%;
}
.o-projeto .fases {
  flex-basis: 65%;
  padding-left: 80px
}
.o-projeto .fase-card {
  background-color: #fff;
  display: flex;
  margin-bottom: 15px;
}
.fase-ilustra {
  flex-basis: 250px;
  flex-shrink: 0;
  background-color: #03304F;
}
.fase-ilustra>div{
  height: 100%;
  background-size: 130%;
  background-position: top 10% center;
  background-repeat: no-repeat;
}
.fase-ilustra .fase-1{
  background-image: url('../assets/intro-grupo.svg');
}
.fase-ilustra .fase-2{
  background-image: url('../assets/intro-alunos.svg');
}
.fase-card .fase-desc {
  padding: 1.5em 2em;
}

@media (max-width: 991.98px) {
  .o-projeto .info {
    flex-direction: column;
  }
  .o-projeto .fases {
    padding: 1rem 0 0;
  }
}
@media (max-width: 767.98px) {
  .fase-ilustra {
    flex-basis: 40%;
  }
  .fase-ilustra>div{
    background-size: cover;
    background-position: top center;
  }
}
@media (max-width: 575.98px) {
  .o-projeto .fase-card {
    flex-direction: column;
  }
  .fase-ilustra {
    flex-basis: 0;
  }
  .fase-ilustra > div {
    background-position: top 10% center;
    padding-bottom: 50%;
  }
}


/* /////////////////////////////////////////////////////////////////// */
/* ESTRUTURA */
/* /////////////////////////////////////////////////////////////////// */
.estrutura {
  z-index: 1;
}

.estrutura .fonte-20 {
  width: 32em;
  max-width: 100%;
}

.estrutura .destaque {
  margin: 2.5rem auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.tabela-comparativa {
  width: 100%;
  margin: 5rem auto;
  position: relative;
}

.rotulo-vertical {
  display: none;
}

.tabela-comparativa p, .tabela-comparativa ul {
  margin: 0;
  height: 100%;
}

.tabela-comparativa th {
  font-family: 'Crete Round', 'Verdana', serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #03304F;
}

tr, td, th {
  padding: 0;
}

.tabela-comparativa tr:not(:only-child) {
  border-bottom: 1px solid #03304F;
}

.tabela-comparativa .caracteristicas {
  width: 20%;
}

.tabela-comparativa tbody th {
  padding: 1rem;
}

.tabela-comparativa td {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: calc(40px + 2rem);
  padding-right: calc(40px + 2rem);
}

.tabela-comparativa thead th {
  padding: 2rem 40px;
}

.tabela-comparativa th span {
  display: inline-block;
  font-size: 1.5rem;
  background-color: #03304F;
  color: #fff;
  padding: .7rem 2.5rem;
  position: relative;
  left: -1.5rem;
  line-height: 1.3;
}

.tabela-comparativa .padrao, .tabela-comparativa .pi {
  /* padding: 1rem 2rem; */
  width: 40%;
}

table .tabela-bg {
  position: absolute;
  width: 40%;
  height: calc(100% + 40px);
  top: 0;
  z-index: -1;
  padding: 0 40px;
}

table .tabela-bg>div {
  height: 100%
}

table th:nth-of-type(2) .tabela-bg {
  left: 20%;
}

table th:nth-of-type(3) .tabela-bg {
  left: 60%;
}

.tabela-comparativa ul {
  padding-left: 1.5rem;
}

.tabela-comparativa li {
  list-style-type: none;
  position: relative;
}

.tabela-comparativa li:before {
  content: '';
  height: .5rem;
  width: .5rem;
  display: inline-block;
  background-color: #03304F;
  position: absolute;
  left: -1.5rem;
  top: .4rem;
}

@media (max-width: 991.98px) {
  .tabela-comparativa {
    line-height: 1.25;
  }

  .tabela-comparativa .caracteristicas {
    width: 24%;
  }

  .tabela-comparativa .padrao, .tabela-comparativa .pi {
    /* padding: 1rem 2rem; */
    width: 38%;
  }

  .tabela-comparativa td {
    padding-top: .6rem;
    padding-bottom: .6rem;
    padding-left: calc(15px + 1.5rem);
    padding-right: calc(15px + 1.5rem);
  }

  .tabela-comparativa thead th {
    padding: 1rem 10px;
  }

  .tabela-comparativa tbody th {
    padding: .6rem 1rem;
  }

  table .tabela-bg {
    width: 38%;
    height: calc(100% + 20px);
    top: 0;
    z-index: -1;
    padding: 0 15px;
  }

  table th:nth-of-type(2) .tabela-bg {
    left: 24%;
  }

  table th:nth-of-type(3) .tabela-bg {
    left: 62%;
  }

  .tabela-comparativa th span {
    display: inline-block;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    left: -.5rem;
    line-height: 1.3;
  }

  .tabela-comparativa ul {
    padding-left: 1.2rem;
  }

  .tabela-comparativa li {
    margin-bottom: .25rem;
  }

  .tabela-comparativa li:before {
    left: -1.2rem;
  }
}

@media (max-width: 767.98px) {
  .tabela-comparativa tbody th {
    font-size: 1.1rem;
  }

  .tabela-comparativa thead th {
    line-height: 140%;
  }

  .tabela-comparativa thead th span {
    font-size: 1.5rem;
    position: static;
    display: inline;
    padding: 0rem .4rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 1%, #03304F 1%);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: 0 70%;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  .tabela-comparativa tr:last-of-type {
    border-bottom: 0
  }

  .tabela-bg {
    display: none;
  }

  /* .tabela-comparativa .caracteristicas,
.tabela-comparativa .padrao,
.tabela-comparativa .pi  {
  width: unset;
} */
  .tabela-comparativa .caracteristicas {
    width: 10px;
  }

  .tabela-comparativa .padrao,
  .tabela-comparativa .pi {
    width: 50%;
  }

  .tabela-comparativa .padrao {
    background-color: #FFDB45;
  }

  .tabela-comparativa .pi {
    background-color: #2BD88D;
  }

  .tabela-comparativa ul {
    padding-left: .7rem;
  }

  .tabela-comparativa li:before {
    left: -1rem;
    height: .4rem;
    width: .4rem;
  }
}

@media (max-width: 575.98px) {
  .tabela-comparativa {
    margin: 4rem auto 3rem auto;
  }
  .tabela-comparativa thead th:first-child {
    padding: 0 .25rem;
  }

  .tabela-comparativa tbody th {
    vertical-align: top;
    padding: .5rem 0;
  }

  .tabela-comparativa tbody th>div {
    position: relative;
  }

  .tabela-comparativa tbody th>div>div {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    background-color: #fff;
    color: #03304F;
    padding: 0.2rem .5rem 0.05rem 0.5rem;
    box-shadow: -0.2rem 0.2rem #03304F;
  }

  .tabela-comparativa td {
    padding: 3rem 1rem .6rem 1rem;
    vertical-align: top;
  }

}

@media (max-width: 399.98px) {
  .tabela-comparativa td {
    font-size: .9rem;
  }

  .tabela-comparativa thead th span {
    font-size: 1.3rem;
  }
}
/* //////////////////////////////////////////////////////////////////////////////////// */
/* METODOLOGIA */
/* //////////////////////////////////////////////////////////////////////////////////// */
.metodologia h2 {
  width: 27rem;
  max-width: 100%;
}
.metodologia .destaque {
  max-width: 19em;
}
.metodologias {
  margin-top: 3rem;
  display: flex;
}
.metodologias-itens {
  flex-grow: 0;
  flex-shrink: 0;
  /* width: 26rem; */
}
.metodologias-itens>div {
  display: flex;
  flex-wrap: wrap;
}
.caixa {
  display: flex;
  font-size: 24px;
  height: 240px;
  width: 240px;
  padding: 2.2rem;
  display: flex;
  align-items: center;
  line-height: 1.2;
  overflow: hidden;
  opacity: 0;
}
.caixa.bg-azul {
  color: #fff;
  margin-right: 10px;
}
.abpp, .thinking {
  font-family: 'Crete Round', 'Verdana', serif;
}

.metodologias-explicacao {
  flex-grow: 1;
  max-width: 23rem;
  margin-left: 5rem;
}

.metodologias-explicacao ul {
  padding-left: 2.3rem;
  margin-top: 2rem;
}
.metodologias-explicacao li {
  list-style-type: none;
  position: relative;
  margin-bottom: .4rem;
}
.metodologias-explicacao li:before {
  content: '';
  height: .6rem;
  width: .6rem;
  display: inline-block;
  background-color: #03304F;
  position: absolute;
  left: -2rem;
  top: .6rem;
}

@media (max-width: 991.98px) {
  .metodologias-itens > div {
    flex-direction: column;
  }
  .caixa {
    font-size: 23px;
  }
  .caixa {
    height: 230px;
    width: 230px;
  }
  .caixa.bg-azul {
    margin-bottom: 10px;
    margin-right: 0;
  }
 }
 @media (max-width: 767.98px) {
   .metodologias {
     flex-direction: column;
   }
   .metodologias-itens > div {
     flex-direction: row;
   }
   .caixa {
     font-size: 20px;
   }
   .caixa {
     height: 200px;
     width: 200px;
   }
   .metodologias-explicacao {
     max-width: 100%;
     margin-top: 3rem;
     margin-left: 0;
   }
   .caixa.bg-azul {
     margin-bottom: 0;
     margin-right: 10px;
   }
  }

   @media (max-width: 479.98px) {
     .caixa {
       height: auto;
       width: calc(50% - 5px);
       padding: 7vw 6vw;
       font-size: 4.5vw;
     }
     .metodologias-itens a {
       /* display: flex; */
       padding: 5vw;
     }
     .metodologias-itens a p{
       font-size: .8rem;
     }
     .metodologias-itens a div {
       margin: 1vw 3vw 3vw 3vw;
     }
  }

  @media (max-width: 349.98px) {
    .caixa {
      font-size: 1.2rem;
      padding: 2em 1.5em;
    }
    .metodologias-itens {
      width: 100%;
    }
    .caixa {
      width: 100%;
      min-height: 8em;
    }
    .caixa.bg-azul {
      margin-right: 0;
      margin-bottom: 10px;
    }
    a.caixa {
      width: 50%;
    }


  }


/* ///////////////////////////////////////////////////////////////////////////////////// */
/* PROCESSO */
/* ///////////////////////////////////////////////////////////////////////////////////// */
.processo-wrapper {
  padding-top: 5rem;
}
.processo-wrapper .destaque {
  max-width: 25em;
}

.processo-container {
  display: flex;
  margin: 3rem 0;
}
.processo-fase {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}
.processo-fase.problemas {
  flex-basis: 40%;
  background-color: #FFDB45;
}
.processo-fase.solucoes {
  flex-basis: 60%;
  background-color: #2BD88D;
}
.processo-fase h4 {
  margin-bottom: 2rem;
}
.processo-fase>div {
  order: 2;
  padding: 2rem 3rem 0;
}
.processo-etapas {
  order: 1;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.processo-etapa {
  padding: 0 1rem 35px;
  flex-grow: 1;
  text-align: center;
  position: relative;
  font-size: 20px;
}
.problemas .processo-etapa {
  flex-basis: 50%;
}
.solucoes .processo-etapa {
  flex-basis: 33.333%;
}
.processo-etapa::before {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #03304F;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.processo-etapa::after {
  content: "";
  width: 100%;
  border-bottom: 2px solid #03304F;
  position: absolute;
  bottom: 9px;
  left: 0;
}
.processo-etapa div:last-child {
  margin-left: -.6em;
}
.problemas .processo-etapa:first-child::after {
  width: 50%;
  right: 0;
  left: unset;
}
.solucoes .processo-etapa:last-child::after {
  width: 50%;
}
.processo-icone {
  margin-bottom: 10px;
}
.processo-icone img {
  width: 60px;
  height: auto;
}

@media (max-width: 1199.98px) {
  .processo-fase h4 {
    font-size: 1.6rem;
  }
}
@media (max-width: 991.98px) {
  .processo-fase h4 {
    max-width: 8em;
  }
}

@media (max-width: 767.98px) {
  .processo-etapa {
    font-size: 18px;
  }
  .processo-fase>div {
    padding: 2rem 1.7rem 0;
  }
  .processo-icone img {
    width: 55px;
  }
  .processo-etapa div:last-child {
    margin-left: 0;
  }
  .processo-etapa div:last-child span {
    display: block;
  }
}

@media (max-width: 575.98px) {
  .processo-wrapper {
    padding-top: 3rem;
  }
  .processo-fase h4 {
    font-size: 1.5rem;
  }
  .processo-icone img {
    width: 50px;
  }
  .processo-etapa {
    font-size: 17px;
  }
  .processo-etapa {
    padding: 0 8px 35px;
  }
}

@media (max-width: 479.98px) {
  .processo-container {
    flex-direction: column;
  }
  .processo-fase {
    padding: 2rem 0;
  }
  .processo-fase h4 {
    margin-bottom: 1.1rem;
    /* max-width: unset; */
    font-size: 1.7rem;
  }
  .problemas .processo-etapas {
    order: 2;
  }
  .problemas.processo-fase>div {
    padding-top: 0;
    padding-bottom: 1rem;
  }
}


/* Prototipagem */
.prototipagem-container {
  display: flex;
  margin: 5rem 0 2rem;
  padding: 2rem;
}
.prototipagem-container>div{
  flex-basis: 20%;
  flex-shrink: 0;
  flex-grow: 1;
}
.prototipagem-intro {
  max-width: 100%;
}
.prototipagem-intro h4, .prototipagem-intro p {

}
.prototipagem-intro h4 {
  margin-bottom: 1em;
  margin-right: 1rem;
}
.prototipagem-intro p {
  width: 15em;
  max-width: 100%;
  margin-left: 1rem;
}
.prototipagem-card {
  display: flex;
  flex-direction: column;
  border: 2px solid #03304F;
}
.prototipagem-card-titulo {
  display: flex;
  padding: 1rem 2rem;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 7rem;
  background-color: #03304F;
}
.prototipagem-card-titulo h5{
  text-align: right;
  font-size: 1.5rem;
  width: 5em;
  margin-left: auto;
  margin-bottom: 0;
  align-self: flex-end;
  color: #fff;
}
.prototipagem-card-titulo h5 span {
  text-decoration: underline;
  color: #FFDB45;
}
.prototipagem-card:nth-of-type(2) .prototipagem-card-titulo {
  background-image: url("../assets/prototipo-sim.svg");
}
.prototipagem-card:nth-of-type(3) .prototipagem-card-titulo {
  background-image: url("../assets/prototipo-nao.svg");
}
.prototipagem-card:last-of-type {
  margin-left: 1rem;
}
.prototipagem-card-conteudo {
  background-color: #fff;
  color: #03304F;
  padding: 2rem;
  flex-grow: 1;
}

.prototipagem-card:nth-of-type(2) .prototipagem-card-conteudo {
  border-left: 1px solid #fff;
}

ul.lista-custom {
  padding-left: 1.3em;
  margin-bottom: 0;
}
.lista-custom li {
  list-style-type: none;
  position: relative;
  margin-bottom: .7em;
}
.lista-custom li:before {
  content: '';
  height: 7px;
  width: 7px;
  display: inline-block;
  background-color: #2BD88D;
  position: absolute;
  left: -1.3em;
  top: .5em;
}

@media (max-width: 1199.98px) {
  .prototipagem-container {
    padding: 1rem;
  }
  .prototipagem-card-conteudo {
    padding: 1.5rem 1rem 1rem;
  }
  .prototipagem-card-titulo {
    padding: 1rem 1.5rem;
  }
}

@media (max-width: 991.98px) {
  .prototipagem-container {
    flex-wrap: wrap;
    margin: 3rem 0 2rem;
  }
  .prototipagem-container>.prototipagem-intro {
    flex-basis: 100%;
    margin-left: -1rem;
    margin-bottom: 1rem;
  }
  .prototipagem-intro p {
    width: 21em;
  }
  .prototipagem-card-titulo {
    height: 6rem;
  }
  .prototipagem-intro h4 {
    margin-bottom: .5em;
  }
}

@media (max-width: 767.98px) {
  .processo-container {
    margin: 3rem 0 2rem;
  }
  .prototipagem-container {
    margin: 2rem 0 0;
  }
  .prototipagem-card-conteudo {
    font-size: .95rem;
  }
  .prototipagem-card-titulo {
    height: auto;
  }
  .prototipagem-card-titulo h5 {
    font-size: 1.3rem;
  }
}
@media (max-width: 575.98px) {
  .prototipagem-container > div {
    flex-basis: 100%;
  }
  .prototipagem-card-titulo {
    height: auto;
    padding-top: 1rem;
  }
  .prototipagem-card:last-of-type {
    margin-left: 0;
    margin-top: 1rem;
  }


}


/* //////////////////////////////////////////////////////////////////// */
/* PERCURSO */
/* //////////////////////////////////////////////////////////////////// */
.percurso-wrapper .destaque {
  max-width: 23em;
}
.percurso {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  margin: 4rem 0 3rem;
}
.percurso-item {
  position: relative;
  width: 30%;
  text-align: center;
  padding: 0 2rem 1.2rem;
}
.percurso-item:first-of-type {
  margin-left: 10%;
  order: 1;
}
.percurso-item:nth-of-type(2){
  margin-right: 10%;
  order: 2;
}
.percurso-item:nth-of-type(3){
  order: 5;
}
.percurso-item:nth-of-type(4){
  order: 4;
}
.percurso-item:nth-of-type(5){
  order: 3;
}
.percurso-item:nth-of-type(6){
  order: 6;
}
.percurso-item:nth-of-type(7){
  order: 7;
}
.percurso-item:nth-of-type(8){
  order: 8;
}
.percurso-item::after {
  content: "";
  position: absolute;
  width: 100%;
  /* height: 100%;   */
  height: calc(100% - 2px);
  top: 40px;
  left: 0;
  box-sizing: content-box;
  border: 2px solid #03304F;
}
.percurso-item:first-of-type::after {
  left: 50%;
  border-width: 2px 0 0 0;
}
.percurso-item:nth-of-type(2)::after  {
  left: 50%;
  border-width: 2px 2px 2px 0;
  border-radius: 0 60px 60px 0;
}
.percurso-item:nth-of-type(3)::after  {
  width: 50%;
  border-width: 0;
}
.percurso-item:nth-of-type(4)::after  {
  border-width: 2px 0 0 0;
}
.percurso-item:nth-of-type(5)::after  {
  border-width: 2px 0 2px 2px;
  border-radius: 60px 0 0 60px;
}
.percurso-item:nth-of-type(6)::after  {
  border-width: 0;
}
.percurso-item:nth-of-type(7)::after  {
  border-width: 2px 0 0 0;
}
.percurso-item:nth-of-type(8)::after  {
  border-width: 2px 0 0 0;
  width: 50%;
}
.caminho-icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #03304F;
  margin: 0 auto 20px;
  z-index: 2;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.quinzena {
  text-transform: uppercase;
  margin-bottom: .25em;
}
.percurso-item p:not(:first-of-type) {
  line-height: 1.3;
}

.quinzena-0 .caminho-icon {
  background-color: #2BD88D
}
.quinzena-0 .caminho-icon img {
  position: absolute;
  width: 128%;
  left: -14%;
  top: -14%;
}
.quinzena-1 .caminho-icon {
  background-image: url('../assets/quinzena-1.svg');
}
.quinzena-2 .caminho-icon {
  background-image: url('../assets/quinzena-2.svg');
}
.quinzena-3 .caminho-icon {
  background-image: url('../assets/quinzena-3.svg');
}
.quinzena-4 .caminho-icon {
  background-image: url('../assets/quinzena-4.svg');
}
.quinzena-5 .caminho-icon {
  background-image: url('../assets/quinzena-5.svg');
}
.quinzena-6 .caminho-icon {
  background-image: url('../assets/quinzena-6.svg');
}
.quinzena-7 .caminho-icon {
  background-color: #2BD88D;
  background-image: url('../assets/quinzena-7.svg');
  position: relative;
}
.quinzena-7 .caminho-icon::after {
  content: "";
  width: 128%;
  height: 128%;
  position: absolute;
  background-image: url(../assets/quinzena-7-outline.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: -14%;
  top: -14%;
  -webkit-animation: rotating 25s linear infinite;
  -moz-animation: rotating 25s linear infinite;
  -ms-animation: rotating 25s linear infinite;
  -o-animation: rotating 25s linear infinite;
  animation: rotating 25s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 991.98px) {
  .percurso-item {
    padding: 0 1rem 1.2rem;
  }
}

@media (max-width: 767.98px) {
  .quinzena.fonte-20 {
    font-size: 1.1rem;
  }
  .percurso-item {
    padding: 0 .75rem 1.2rem;
  }
  .percurso-item p {
    font-size: .9rem;
  }
}
@media (max-width: 519.98px) {
  .percurso {
    flex-direction: column;
    overflow: hidden;
  }
  .percurso-item {
    display: flex;
    width: auto;
    max-width: 100%;
    text-align: left;
    justify-content: flex-start;
    padding: 0 .75rem 2rem;
    width: 350px;
    margin: 0 auto !important;
  }
  .percurso-item:nth-of-type(3){
    order: 3;
  }
  .percurso-item:nth-of-type(4){
    order: 4;
  }
  .percurso-item:nth-of-type(5){
    order: 5;
  }
  .percurso-item::after {
    width: auto;
    height: 100%;
    top: 0;
    left: calc(.75rem + 45px)!important;
    box-sizing: content-box;
    border: 2px solid #03304F;
  }
  .percurso-item:first-of-type::after {
    border-width: 0 0 0 2px;
  }
  .percurso-item:nth-of-type(2)::after  {
    border-width: 0 0 0 2px;
    border-radius: 0;
  }
  .percurso-item:nth-of-type(3)::after  {
    width: 100%;
    border-width: 0 0 0 2px;
    border-radius: 0;
  }
  .percurso-item:nth-of-type(4)::after  {
    border-width: 0 0 0 2px;
  }
  .percurso-item:nth-of-type(5)::after  {
    border-width: 0 0 0 2px;
    border-radius: 0;
  }
  .percurso-item:nth-of-type(6)::after  {
    border-width: 0 0 0 2px;
  }
  .percurso-item:nth-of-type(7)::after  {
    border-width: 0 0 0 2px;
  }
  .percurso-item:nth-of-type(8)::after  {
    display: none;
  }
  .percurso-item>div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .percurso-item p:last-of-type {
    margin-bottom: 0;
  }
  .caminho-icon {
    flex-shrink: 0;
    margin: 0 32px 0 0;
  }
}

/* //////////////////////////////////////////////////////////////////// */
/* PAPÉIS */
/* //////////////////////////////////////////////////////////////////// */
.papeis .destaque {
  max-width: 18em;
}
.papeis .instrucao {
  max-width: 25em;
}
.btn-expandir, .btn-recolher {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 0 1.5rem;
  color: #03304F;
  text-decoration: underline;
  cursor: pointer;
  font-size: .9rem;
}
/* .btn-expandir.desligado, .btn-recolher.desligado {
  color: #efefef;
  cursor: auto;
} */
.btn-expandir {
  border-right: 1px solid #03304F;
  margin-right: 10px;
  padding-right: 10px;
}

.cards-container {
  margin: 3rem 0;
}
.cards-container>div {
  display: flex;
  flex-wrap: wrap;
}
.card-papel-container {
  flex-basis: 33%;
  padding-right: 20px;
  padding-bottom: 20px;
}
.card-papel {
  /* display: flex;
  flex-direction: column; */
  padding: 1.5rem;
  color: #03304F;
  /* margin-bottom: 20px; */
  min-height: 10em;
  cursor: pointer;
  border: none;
  width: 100%;
  text-align: left;
}
.card-papel.aberto {
  /* min-height: calc(100% - 20px); */
  min-height: 100%;
}
.card-papel:focus {
  outline: none;
}
.cards-container>div .card-papel:not(:first-of-type){
  margin-left: 20px;
}
.cards-discente .card-papel {
  background-color: #FFDB45;
}
.cards-mediacao .card-papel {
  background-color: #2BD88D;
}
.cards-docente .card-papel {
  background-color: #03304F;
  color: #fff;
}

.card-titulo {
  /* padding-bottom: 1rem; */
  /* margin-bottom: 1rem; */
}
.card-titulo h4 {
  font-size: 1.5rem;
}
.card-titulo .destaque {
  margin-bottom: 0;
}
.cards-docente .card-titulo {
  border-color: #fff;
}
.cards-docente h4, .cards-docente p {
  color: #fff;
}
.card-explicacao {
}
.card-explicacao ul {
  margin-top: 1rem;
  /* padding-bottom: 1rem; */
  padding-top: 1rem;
  border-top: 3px solid #03304F;
}
.cards-docente .card-explicacao ul {
  border-top: 3px solid #fff;
}
.card-explicacao ul.lista-custom li:before {
  background-color: #03304F;
}
.cards-docente .card-explicacao ul.lista-custom li:before {
  background-color: #fff;
}
.card-explicacao ul.lista-custom li:last-child {
  margin-bottom: 0;
}

@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {
  .card-papel-container {
    flex-basis: 50%;
    flex-grow: 1;
  }
}
@media (max-width: 767.98px) {
  .cards-container>div {
    margin-right: -20px;
  }
}
@media (max-width: 575.98px) {
  .cards-container>div {
    margin-right: 0;
  }
  .card-papel-container {
    flex-basis: 100%;
    padding-right: 0;
  }
}

/* //////////////////////////////////////////////////////////////////// */
/* DÚVIDAS
/* //////////////////////////////////////////////////////////////////// */
.container-pai.duvidas-wrapper {
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.duvidas-ilustra {
  margin-right: 2rem;
  position: relative;
}
.duvidas-ilustra img {
  width: 200px;
}
#duvidas-interrogacao {
  position: absolute;
  width: 27px;
  top: -18px;
  right: 55px;
  opacity: 0;
}
.duvidas-wrapper h3 {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.container-pai.duvidas-wrapper p {
  color: #fff;
}
.btn-div {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  /* font-family: "Open Sans", sans-serif; */
}
.btn-div:focus {
  /* outline: none;
  text-decoration: underline;   */
}
.btn-div:hover>div, .btn-div:hover p{
  text-decoration: underline;
}
.btn-div:active {
  padding: 0;
}
.circulo-icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #2BD88D;
  position: relative;
  background-color: #2BD88D;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
}
.duvidas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.duvidas p {
  font-family: 'Crete Round', 'Verdana', serif;
  color: #fff;
  margin-bottom: 0;
  text-align: left;
  max-width: 24em;
}
.duvidas .circulo-icon {
  margin-right: 24px;
}
.canais {
  display: flex;
  margin-top: 4rem;
}
.canais>div {
  flex-basis: 20%;
  flex-grow: 1;
  padding: 0 1.5em;
}
.canal .btn-div {
  margin: 0 auto;
  padding-bottom: 24px;
}
.canal .btn-div>div {
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-weight: 700;
}
.canal .circulo-icon {
  margin-bottom: 32px;
}
.canal>div:last-child>div {
  border-top: 1px solid #fff;
  padding-top: 24px;
}
.canais a {
  color: #fff;
  text-decoration: underline;
}
#contato-notas ul.lista-custom:first-of-type {
  margin-bottom: 1.5rem;
}
.duvidas .circulo-icon>div {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 110%;
}
/* .duvidas .circulo-icon>div:last-child {
  opacity: 0;
}
.duvidas.collapsed .circulo-icon>div:last-child {
  opacity: 1;
}
.duvidas.collapsed .circulo-icon>div {
  background-size: 100%;
}
.duvidas:hover .circulo-icon>div:last-child {
  opacity: 0;
  background-size: 110%;
}
.duvidas:hover .circulo-icon>div:first-child {
  background-size: 110%;
}
.duvidas:hover .circulo-icon>div:last-child {
  opacity: 0;
  background-size: 110%;
}
.duvidas .circulo-icon>div:first-child {
  background-image: url("../assets/duvidas-hover.svg");
  transition: .5s;
}
.duvidas .circulo-icon>div:last-child {
  background-image: url("../assets/duvidas.svg");
  transition: .5s;
} */
.canal-conteudo .circulo-icon {
  background-image: url("../assets/duvida-cont.svg");
}
.canal-acesso .circulo-icon {
  background-image: url("../assets/duvida-acesso.svg");
}
.canal-notas .circulo-icon {
  background-image: url("../assets/duvida-notas.svg");
}

@media (max-width: 991.98px) {

  .canais > div {
    padding: 0 1em;
    font-size: .95rem;
  }
  .canais {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
@media (max-width: 767.98px) {
  .duvidas {
    width: 100%;
    align-items: flex-start;
  }
  .duvidas-wrapper h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .duvidas p {
    font-size: 1.1rem;
  }
  .canais {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
  }
  .canais > div {
    padding: 0;
  }
  .btn-div {
    display: flex;
    align-items: center;
  }
  .canal .btn-div > div {
    text-align: left;
    margin-left: 0;
    margin-bottom: 0;
  }
  .canal .btn-div > div.circulo-icon {
    margin-right: 1.5rem;
   }
  .canal .btn-div {
    margin: 0 0 .5rem;
  }
  .canal>div:last-child>div {
    padding-bottom: 40px;
  }
}
@media (max-width: 575.98px) {
  .duvidas {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .duvidas-ilustra {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .duvidas-ilustra img {
    width: 150px;
  }
  #duvidas-interrogacao {
    width: 24px;
    top: -20px;
    right: 39px;
  }
  .duvidas p {
    text-align: center;
  }
  .circulo-icon {
    height: 80px;
    width: 80px;
  }
  .canais > div {
    font-size: .9rem;
  }
}

/* //////////////////////////////////////////////////////////////////// */
/* CONCLUSÃO */
/* //////////////////////////////////////////////////////////////////// */

.container {
}
.conclusao {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.conclusao>div {
  /* position: relative; */
}

.conclusao .fonte-24 {
  text-align: center;
  width: 30rem;
  margin: 0 auto;
  max-width: 100%;
}

.colegas {
  position: relative;
  margin: 3rem auto;
  width: 46rem;
  max-width: 90vw;
  display: flex;
  justify-content: center;
}

.colegas .ilustra {
  width: 60%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}

.colegas img {
  width: 100%;
}

.conclusao .circulo {
  height: 22rem;
  width: 22rem;
  margin-left: 11rem;
}

.colegas .chamada {
  position: absolute;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.colegas .destaque {
  margin: 0 1.5rem;
}

.colegas .grifo {
  font-size: 2rem;
}

#chamada {
  opacity: 0;
}

@media (max-width: 991.98px) {
  .colegas {
    width: 100%;
  }
  .colegas .grifo {
    font-size: 1.9rem;
  }

}

@media (max-width: 767.98px) {
  .colegas .ilustra {
    width: 65%;
    bottom: auto;
    top: 1rem;
  }
  .colegas .grifo {
    position: relative;
    top: 4rem;
  }
  .conclusao .circulo {
    margin-left: 0;
  }
}


@media (max-width: 479.98px) {
  .colegas .ilustra {
    width: 85%;
    bottom: 60%;
  }
  .conclusao .circulo {
    width: 80vw;
    height: 80vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
  }
  .colegas .grifo {
    top: 16vw;
    font-size: 8vw;
}
}

/* CÍRCULOS */
.circulo {
  border-radius: 50%;
}

.circulo.padrao-branco {
  background-image: url("../assets/padrao-bco.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.circulo.padrao-azul {
  background-image: url("../assets/padrao-azul.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
